<head>
   <meta charset="UFT-8">
   <meta name="viewport" content="width=devide=width, initial-scale=1.0">
   <style>
      table, th, td {
      border-collapse: collapse;
      }
      th, td {
      padding: 10px 50px; <!--Aumento da margem do que está dentro da tabela-->
      }
      *{	font-family: Arial, Helvetica, sans-serif; <!--Mudança da letra do documento inteiro-->
      }
   </style>
</head>
th, td {
border-color: #800000; <!-- Mudar a cor da borda (ao meu gosto) -->
}
tr:nth-child(even) {  
background-color: #fafad2; <!-- Mudar cor do fundo para bege -->
}
th, td {
border-style: dashed;  <!-- Mudar o estilo da borda (ao meu gosto) -->
}